<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listings</title>
    <script src="../../js/index.js" type="module"></script>
    <script
      src="https://kit.fontawesome.com/6430c8691d.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    /> -->
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-white p-md-0 shadow">
        <div class="container-fluid mw-lg p-0">
          <a class="navbar-brand ff-brand fs-1 ps-4 py-md-0" href="#"
            ><span class="text-secondary ff-brand fw-light">Barter</span
            ><span class="text-primary">House</span></a
          >
          <button
            class="navbar-toggler border-0 me-4 p-1 btn-outline-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <div class="menu-icon d-flex flex-column justify-content-between">
              <span class="bg-primary"></span>
              <span class="bg-primary"></span>
              <span class="bg-primary"></span>
            </div>
          </button>
          <div
            class="collapse navbar-collapse bg-primary px-4 py-3 px-sm-5 py-sm-4 py-md-0 align-content-stretch"
            id="navbarSupportedContent"
          >
            <div class="d-lg-none d-flex align-items-center">
              <a href="">
                <img
                  src="https://www.nzherald.co.nz/resizer/lKgrR0xF3qocbN-mTVRaFmX0XIc=/576x613/smart/filters:quality(70)/cloudfront-ap-southeast-2.images.arcpublishing.com/nzme/S7UIQ527KPM6YO6MMOMZD64GM4.jpg"
                  alt=""
                  class="profile-img rounded-circle"
                />
                <span class="fs-4 ms-3 text-white">Ron F. Swanson</span>
              </a>
              <button class="btn ms-auto" id="logout">
                <i class="fa fa-solid fa-door-open fs-1 text-white"></i>
              </button>
            </div>
            <ul class="mt-4 d-lg-none list-unstyled ff-brand">
              <li class="mt-2">
                <a href="" class="text-decoration-none fs-3 text-white">Home</a>
              </li>
              <li class="mt-2">
                <a href="" class="text-decoration-none fs-3 text-white"
                  >My Profile</a
                >
              </li>
              <li class="mt-2">
                <a href="" class="text-decoration-none fs-3 text-white"
                  >Watchlist</a
                >
              </li>
              <li class="mt-2">
                <a href="" class="text-decoration-none fs-3 text-white"
                  >New Listing
                </a>
              </li>
            </ul>
            <a
              href=""
              class="nav-btn | fs-5 text-black ms-auto me-4 px-0 d-none d-lg-flex text-decoration-none py-3"
            >
              <div class="my-auto d-flex align-items-center gap-2">
                <span class="text-primary fs-2">+ </span>
                <span> New Listing </span>
              </div>
            </a>
            <div id="nav-profile" class="d-none d-lg-block dropdown">
              <img
                src="https://www.nzherald.co.nz/resizer/lKgrR0xF3qocbN-mTVRaFmX0XIc=/576x613/smart/filters:quality(70)/cloudfront-ap-southeast-2.images.arcpublishing.com/nzme/S7UIQ527KPM6YO6MMOMZD64GM4.jpg"
                alt=""
                class="profile-img rounded-circle dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              />
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">My Profile</a></li>
                <li><a class="dropdown-item" href="#">Watchlist</a></li>
                <li class="d-flex flex-nowrap align-items-center mt-2">
                  <a class="dropdown-item text-primary" href="#"
                    >Log out
                    <i
                      class="fa fa-solid fa-door-open fs-6 text-primary ms-3"
                    ></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div id="root" class="mx-auto px-0">
      <section id="listingPitch" class="container mt-5 mw-lg px-4">
        <div class="row gx-3 flex-column flex-md-row">
          <h1 class="mt-4 mb-3 display-5">Title of Listing</h1>
          <div class="row col-12 col-md-5 flex-md-column">
            <img
              src="../../assets/images/irene-kredenets-KStSiM1UvPw-unsplash.jpg"
              class="col-9 col-md-12"
              style="aspect-ratio: 1; object-fit: cover"
              alt=""
            />
            <div
              class="row col-3 col-md-12 p-0 px-2 mt-2 m-0 gx-2 gy-2 row-cols-1 row-cols-md-3"
            >
              <div class="col m-0">
                <img
                  src="../../assets/images/irene-kredenets-KStSiM1UvPw-unsplash.jpg"
                  class="w-100"
                  style="aspect-ratio: 1; object-fit: cover"
                  alt=""
                />
              </div>
              <div class="col m-0">
                <img
                  src="../../assets/images/irene-kredenets-KStSiM1UvPw-unsplash.jpg"
                  class="w-100"
                  style="aspect-ratio: 1; object-fit: cover"
                  alt=""
                />
              </div>
              <div class="col m-0">
                <img
                  src="../../assets/images/irene-kredenets-KStSiM1UvPw-unsplash.jpg"
                  class="w-100"
                  style="aspect-ratio: 1; object-fit: cover"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-7 ms-md-3">
            <div class="row align-items-center">
              <img
                src="../../assets/images/irene-kredenets-KStSiM1UvPw-unsplash.jpg"
                style="aspect-ratio: 1; width: 100px;"
                class="rounded-circle p-3"
                alt=""
              />
              <span class="col-auto fs-2">Ron F. Swanson</span>
            </div>
            <div class="">
              <p class="m-0">Started: 21.02.23</p>
              <p class="m-0">
                Ends: 23.02.23
                <span class="text-primary ms-3">2 days left</span>
              </p>
            </div>
            <p class="my-3">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore
              quo minima iure soluta et sed fugit sapiente excepturi eum ullam
              dolor suscipit aperiam magnam, similique labore, vitae quae. Eos,
              eligendi.
            </p>
            <div class="my-5">
              <p class="fs-5">Current Highest Bid:</p>
              <div class="d-flex align-items-center">
                <p class="col-auto fs-2 fw-bold m-0 mx-2">$ 40</p>
                <div class="col-8">
                  <div class="row align-items-center w-auto flex-nowrap">
                    <img
                      src="../../assets/images/irene-kredenets-KStSiM1UvPw-unsplash.jpg"
                      style="aspect-ratio: 1; max-width: 40px"
                      class="rounded-circle col ms-3 p-0"
                      alt=""
                    />
                    <span class="col fs-6 fs-md-5"
                      >Lesli F. Knope or something</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row justify-content-start ms-0">
                <button
                  class="col-auto btn btn-outline-grey rounded-pill px-3 me-2"
                >
                  up $ 10
                </button>
                <button class="col-auto btn btn-outline-grey rounded-pill px-3">
                  up $ 25
                </button>
              </div>
              <div class="row">
                <div class="my-3 position-relative col-6">
                  <label
                    for="placeBidValue"
                    class="input-group-text bg-white position-absolute pe-0 ps-2 rounded-0 rounded-start border-end-0"
                    >$</label
                  >
                  <input
                    type="number"
                    step="1"
                    class="form-control border-start-rounded ps-4"
                    name=""
                    id="placeBidValue"
                    aria-describedby="helpId"
                    placeholder="place a bid here"
                  />
                  <small> funds available: $120 </small>
                </div>
                <div class="col-6 d-flex align-items-center">
                  <button class="btn btn-secondary text-white py-2 px-4">
                    Place Bid
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
			<section id="listingDetails">
				
			</section>
    </div>
  </body>

  <template id="productCardSmall">
    <div class="col">
      <div class="card p-0 h-100 justify-content-between">
        <div>
          <img
            src="../assets/images/irene-kredenets-KStSiM1UvPw-unsplash.jpg"
            class="listing-img | img-fluid rounded-top bg-light w-100"
            style="aspect-ratio: 5 / 4; object-fit: cover"
            alt="Card title"
          />
        </div>
        <div class="d-flex justify-content-between h-100">
          <div class="card-body">
            <h3 class="card-title fs-4">Card title</h3>
            <p class="text-primary small">
              <i class="fa fa-clock me-1"></i>
              2 days left
            </p>
            <div class="card-text mt-4 fs-6 fs-sm-5">
              <span class="m-0 small"> Highest Bid: </span>
              <span class="m-0 small d-none text-secondary">
                In the lead!
              </span>
              <span class="me-4 fw-bold fs-4 d-flex flex-nowrap">$ 40</span>
              <p class="fs-6 fs-md-3 m-0 d-flex align-items-center d-none">
                <img
                  src="https://t4.ftcdn.net/jpg/04/08/24/43/360_F_408244382_Ex6k7k8XYzTbiXLNJgIL8gssebpLLBZQ.jpg"
                  alt=""
                  class="rounded-circle"
                  style="aspect-ratio: 1; width: 30px"
                />
                <span class="fs-6 fs-md-5 ms-2">Ron F. Swanson</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="productCardSmallPlaceholder">
    <div class="col">
      <div class="card mb-3 mw-lg p-0">
        <div class="placeholder-glow">
          <span class="w-100 placeholder rounded-top" style="aspect-ratio: 1">
          </span>
        </div>
        <div class="p-3">
          <p class="placeholder-glow mb-0">
            <span class="placeholder col-12"></span>
          </p>
          <p class="placeholder-glow">
            <span class="placeholder placeholder-xs col-4"></span>
          </p>
          <p class="placeholder-glow row m-0 mt-4">
            <span class="placeholder placeholder-lg col-8"></span>
            <span class="placeholder placeholder-lg col-3 ms-auto"></span>
          </p>
        </div>
      </div>
    </div>
  </template>
</html>
