.listing {
  animation: loadInListing 500ms forwards ease-in-out;
  transition: filter 250ms ease;
  &-small {
    max-width: min(520px, 100%);
  }
  &:hover {
    filter: drop-shadow(2px 2px 4px #d7d7d7);
  }
}

[data-listing-grid] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1.5rem;
}

@keyframes loadInListing {
  0% {
    opacity: 0;
    translate: 0 30px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
