// color variables
$primary: #d0314f;
$secondary: #69b51d;
$info: #fbbc05;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'info': $info,
  'white': #fff,
  'light': #edeff2,
  'grey': #adadad,
  'dark': #313131,
  'black': #000,
);
