// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import './abstracts/';
@import './base/';
@import './components/';
@import './layout/';
@import './pages/';
@import './themes/';
@import './vendors/';
// 3. Include remainder of required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/bootstrap';



// 4. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../../node_modules/bootstrap/scss/utilities/api';

// 5. Add additional custom code here

.ff-brand {
  font-family: $font-family-brand;
}

.mw-lg {
  max-width: 1088px;
}

@include media-breakpoint-up(lg) {
  #navbarSupportedContent {
    background-color: transparent !important;
  }
}

.btn-sortby {
  &-full {
    background-image: url('../assets/icons/sort-big.svg');
    background-size: calc(100% - 0.5em);
  }
  &-grid {
    background-image: url('../assets/icons/sort-grid.svg');
    background-size: calc(100% - 1em);
  }
  background-color: $white;
  aspect-ratio: 1;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

#quickAccess {
  & *:checked {
    & + .btn {
      background-color: $info !important;
      color: color-contrast($info);

      & span {
        display: inline-block !important;
      }
    }
  }
}
